@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Quicksand:wght@700&display=swap");
:root {
	--verde: #48dbb1;
	--morado: #2b0a79;
	--azul_oscuro: #101b51;
	--bs-blue: #d60d61;

  /* Redes Sociales */

	--Behance: #053EFF;
	--Instagram: #E1306C;
	--GitHub: #0D1117;
	--Whatsapp: #25D366;
	--LinkedIn: #0E76A8;

  /*  */

	--background-dark: #0a878b;
	--text-light: rgba(255, 255, 255, 0.767);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 75%;

	/*  */

	--d: 1s;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: "Rubik", sans-serif;
	--font-serif: "Poppins", sans-serif;
}

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
	box-sizing: border-box;
}

body {
	background: #dfdfdf;
	font-family: "Poppins", sans-serif;
}

a {
	text-decoration: none;
}

.hero {
	text-align: center !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 80px);
	background-color: #F2F2F2;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hero h1 {
	font-size: 80px;
	color: var(--azul_oscuro);
	font-family: "Oswald", sans-serif;
}

.hero p {
	font-size: 35px;
	display: flex;
	margin: auto;
	color: var(--verde);
	font-family: "Poppins", sans-serif;
	justify-content: center;
}

nav {
	background: white;
	height: 80px;
	box-shadow: rgba(41, 41, 41, 0.5) 0px 8px 24px;
	display: flex;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	overflow: hidden;
	z-index: 1000;
}

nav a {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: var(--azul_oscuro);
	transition: 0.3s ease-in-out;
	font-weight: bolder;
}

nav a:hover {
	background-color: var(--azul_oscuro);
	color: white;
	font-weight: bolder;
	height: calc(100% - 10px);
}

nav .indicador {
	height: 7px;
	background-color: #46DBB0;
	position: absolute;
	bottom: 5px;
	transition: 0.3s ease-out all;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/* transform: translate(-500px); */
}

/* Efecto texto */

.content {
	width: 237px;
	font-size: 45px;
	line-height: 40px;
	font-family: "Fira code" monospace;
	color: var(--azul_oscuro);
	height: 40px;
	position: absolute;
	left: 50%;
	margin-top: 50px;
	margin-left: -118px;
}

.content:before {
	content: "[";
	position: absolute;
	left: -30px;
	line-height: 40px;
}

.content:after {
	content: "]";
	position: absolute;
	right: -30px;
	line-height: 40px;
}

.content:after,
.content:before {
	color: var(--verde);
	font-size: 42px;
	animation: 2s linear 0s normal none infinite opacity;
	-webkit-animation: 2s ease-out 0s normal none infinite opacity;
	-moz-animation: 2s ease-out 0s normal none infinite opacity;
	-o-animation: 2s ease-out 0s normal none infinite opacity;
}

.visible {
	float: left;
	font-weight: 600;
	overflow: hidden;
	height: 40px;
	font-family: "Fira code" monospace;
}

.visible p {
	display: inline;
	margin: 0;
	float: left;
	font-family: "Fira code" monospace;
}

ul {
	margin-top: 0;
	padding-left: 110px;
	text-align: left;
	list-style: none;
	animation: 1s linear 0s normal none infinite change;
	-webkit-animation: 6s linear 0s normal none infinite change;
	-moz-animation: 6s linear 0s normal none infinite change;
	-o-animation: 6s linear 0s normal none infinite change;
	font-family: "Fira code" monospace;
}

ul li {
	line-height: 40px;
	margin: 0;
	font-family: "Fira code" monospace;
}

@-webkit-keyframes opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes opacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes change {
	0% {
		margin-top: 0;
	}
	15% {
		margin-top: 0;
	}
	25% {
		margin-top: -40px;
	}
	40% {
		margin-top: -40px;
	}
	50% {
		margin-top: -80px;
	}
	65% {
		margin-top: -80px;
	}
	75% {
		margin-top: -40px;
	}
	85% {
		margin-top: -40px;
	}
	100% {
		margin-top: 0;
	}
}
@keyframes change {
	0% {
		margin-top: 0;
	}
	15% {
		margin-top: 0;
	}
	25% {
		margin-top: -40px;
	}
	40% {
		margin-top: -40px;
	}
	50% {
		margin-top: -80px;
	}
	65% {
		margin-top: -80px;
	}
	75% {
		margin-top: -40px;
	}
	85% {
		margin-top: -40px;
	}
	100% {
		margin-top: 0;
	}
}

/* Redes Sociales */

.redes_sociales {
	position: fixed;
	top: 35%;
	margin-top: 80px;
	position: webkit-sticky;
	position: sticky;
	right: 0;
}

.redes_sociales_boton {
	width: 55px;
	height: 55px;
	display: block;
	padding: 15px 15px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	/* border-radius: 10px; */
	margin-top: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: baseline;
	justify-content: center;
	gap: 10;
	font-size: 18px;
	text-decoration: none;
	color: var(--azul_oscuro);
	background-color: #ffffff;
	transition: all 0.5s ease-in-out;
}

.redes_sociales_boton p {
	display: none;
	font-weight: 510;
	margin-left: 8px;
	}

.redes_sociales_boton:hover > p {
	display: block;
}

/* .redes_sociales_boton:hover > i {
	display: none;

} */
.redes_sociales_boton:hover {
	width: 150px;
	padding: 15px 15px;
}

.fa-instagram, .fa-whatsapp {
	font-weight: bolder;
}

.redes_sociales_boton:nth-child(1):hover {
	color: white;
	background-color: var(--Behance);
}

.redes_sociales_boton:nth-child(2):hover {
	color: white;
	background: radial-gradient(circle at 30% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

.redes_sociales_boton:nth-child(3):hover {
	color: white;
	background-color: var(--LinkedIn);
}

.redes_sociales_boton:nth-child(4):hover {
	color: white;
	background-color: var(--Whatsapp);
}

/* Body */

#quien_soy {
	margin-top: -300px;
}

.seccion {
	min-height: 100vh;
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.seccion .card {
	background: white;
	height: 50%;
	padding: 50px;
	border-radius: 12px;
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.seccion h1 {
	font-size: 48px;
	margin-bottom: 20px;
	font-family: "Oswald", sans-serif;
	color: var(--azul_oscuro);
}

.seccion p {
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #494949;
	font-size: 20px;
	--bs-blue-900: #212529;
}

.seccion img {
	width: 100%;
	vertical-align: top;
	margin-bottom: 20px;
	border-radius: 12px;
}

@media screen and (max-width: 800px) {
	nav a {
		font-size: 14px;
		padding: 5px;
	}
	.card h1 {
		text-align: center !important;
	}
	.card {
		overflow: hidden;
		width: 80%;
	}
	.card-body {
		width: 100%;
	}
	.card p {
		text-align: justify;
		font-size: 16px;
	}
	.hero {
		grid-template-columns: 1fr;
	}
	.efecto_circulo {
		max-width: 70vw !important;
		margin: auto;
		display: flex;
		margin: 0px 45px !important;
	}
	.badge {
		margin-bottom: 50px !important;
	}
	.console-container {
		max-width: 90% !important;
		font-size: 3em !important;
	}
	.seccion {
		margin-top: -40px;
	}
	#quien_soy {
		margin-top: -300px !important;
	}
	.proyectos_ {
		max-width: 50% !important;
		width: 80% !important;
		margin: auto !important;
		display: grid;
		grid-template-columns: 1fr 1fr !important;
	}
	.proyectos_ .efecto_hover {
		margin-bottom: 20px !important;
	}
	#text1, #text2 {
		font-size: 40pt !important;
	}
	.page-content {
		width: 80% !important;
		z-index: 400 !important;
		
	}
	.redes_sociales {
	z-index: 500;
	}
	.row {
		display: grid;
		grid-template-columns: 1fr !important;
	}
	.card_habilidades {
		margin-top: 50px !important;
	}
}
@media screen and (max-width: 450px) {
	nav a {
		font-size: 12px;
	}
	.card {
		width: 93vw;
	}
	.card h1 {
		text-align: center !important;
	}
	.card p {
		font-size: 16px;
	}
	.hero {
		grid-template-columns: 1fr;
	}
	.efecto_circulo {
		margin: auto;
		margin-bottom: 50px !important;
	}
	.console-container {
		max-width: 100px !important;
		margin: auto !important;
		font-size: 2em !important;
	}
	#quien_soy {
		margin-top: -300px !important;
	}
	.proyectos_ {
		max-width: 90% !important;
		width: 80% !important;
		margin: auto !important;
		display: grid;
		grid-template-columns: 1fr 1fr !important;
	}
	#text1, #text2 {
		font-size: 30pt !important;
	}
	.page-content {
		width: 50% !important;
	}
}

/* Card */

.card {
	font-family: "Poppins", sans-serif;
	border: none;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5) !important;
}

.card-body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
}

.card-body p {
	font-family: "Poppins", sans-serif;
	margin-left: 15PX;
}

.card-text {
	font-size: 18px !important;
}

/* Efecto círculo */

.efecto_circulo {
	align-items: center;
	justify-content: center;
	margin-top: 80px;
	margin-bottom: 80px;
}

.badge {
	margin: auto;
	display: block;
	position: relative;
	width: 20rem;
	height: 20rem;
	cursor: pointer;
	background-image: url(img/6.jpg);
	background-size: 150%;
	border-radius: 50%;
	transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.badge:hover {
	box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
	background-position: 60% 50%;
}

.badge:hover .text {
	transform: rotate(-45deg) translate(0px) rotate(-315deg);
	background: rgba(16, 27, 81, 0.5);
	width: 20rem;
	letter-spacing: 1rem;
	line-height: 20rem;
	height: 20rem;
	margin-top: -10rem;
	margin-left: -10rem;
	transition: all .5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1s ease-out;
}

.badge .text {
	display: block;
	position: absolute;
	width: 10rem;
	height: 10rem;
	line-height: 10rem;
	left: 50%;
	top: 50%;
	margin-top: -5rem;
	margin-left: -5rem;
	font-size: 2rem;
	font-family: Raleway, sans-serif;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	background: var(--verde);
	transform: rotate(-180deg) translate(-10rem) rotate(180deg);
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

/* Efecto hover */

.proyectos_ {
	display: flex;
	margin: auto;
	max-width: 60%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.efecto_hover {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 50px auto;
	width: 180px;
	height: 80px;
	background: white;
	border-radius: 20px;
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	font-weight: bolder;
	transition: 1s box-shadow;
	box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.efecto_hover a {
	color: var(--azul_oscuro);
}

.efecto_hover:hover {
	box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}

.efecto_hover:hover::before, .efecto_hover:hover::after {
	display: block;
	content: "";
	position: absolute;
	width: 180px;
	height: 80px;
	background: #48dbb1;
	border-radius: 20px;
	z-index: -1;
	-webkit-animation: 1s clockwise infinite;
			animation: 1s clockwise infinite;
}

.efecto_hover:hover:after {
	background: #101b51;
	-webkit-animation: 15s counterclockwise infinite;
			animation: 15s counterclockwise infinite;
}

@-webkit-keyframes clockwise {
	0% {
		top: -5px;
		left: 0;
	}
	12% {
		top: -2px;
		left: 2px;
	}
	25% {
		top: 0;
		left: 5px;
	}
	37% {
		top: 2px;
		left: 2px;
	}
	50% {
		top: 5px;
		left: 0;
	}
	62% {
		top: 2px;
		left: -2px;
	}
	75% {
		top: 0;
		left: -5px;
	}
	87% {
		top: -2px;
		left: -2px;
	}
	100% {
		top: -5px;
		left: 0;
	}
}

@keyframes clockwise {
	0% {
		top: -5px;
		left: 0;
	}
	12% {
		top: -2px;
		left: 2px;
	}
	25% {
		top: 0;
		left: 5px;
	}
	37% {
		top: 2px;
		left: 2px;
	}
	50% {
		top: 5px;
		left: 0;
	}
	62% {
		top: 2px;
		left: -2px;
	}
	75% {
		top: 0;
		left: -5px;
	}
	87% {
		top: -2px;
		left: -2px;
	}
	100% {
		top: -5px;
		left: 0;
	}
}
@-webkit-keyframes counterclockwise {
	0% {
		top: -5px;
		right: 0;
	}
	12% {
		top: -2px;
		right: 2px;
	}
	25% {
		top: 0;
		right: 5px;
	}
	37% {
		top: 2px;
		right: 2px;
	}
	50% {
		top: 5px;
		right: 0;
	}
	62% {
		top: 2px;
		right: -2px;
	}
	75% {
		top: 0;
		right: -5px;
	}
	87% {
		top: -2px;
		right: -2px;
	}
	100% {
		top: -5px;
		right: 0;
	}
}
@keyframes counterclockwise {
	0% {
		top: -5px;
		right: 0;
	}
	12% {
		top: -2px;
		right: 2px;
	}
	25% {
		top: 0;
		right: 5px;
	}
	37% {
		top: 2px;
		right: 2px;
	}
	50% {
		top: 5px;
		right: 0;
	}
	62% {
		top: 2px;
		right: -2px;
	}
	75% {
		top: 0;
		right: -5px;
	}
	87% {
		top: -2px;
		right: -2px;
	}
	100% {
		top: -5px;
		right: 0;
	}
}

/* Efecto texto diluido */

#container__ {
	/* Center the text in the viewport. */
	margin: auto;
	max-width: 100vw;
	height: 80pt;
	/* This filter is a lot of the magic, try commenting it out to see how the morphing works! */
	filter: url(#threshold) blur(0.6px);
}

/* Your average text styling */
#text1, #text2 {
	position: absolute;
	width: 100%;
	display: inline-block;
	font-family: "Quicksand", sans-serif;
	font-size: 60pt;
	color: var(--azul_oscuro);
	text-align: center;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

/* Card Hover 2 */

.page-content {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 70%;
	margin: 0 auto;
	font-family: var(--font-sans);
	margin-top: 80px;
	margin-bottom: none;
}
@media (min-width: 600px) {
	.page-content {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 800px) {
	.page-content {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card_2 {
	position: relative;
	display: flex;
	align-items: flex-end;
	overflow: hidden;
	padding: 1rem;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	background-color: whitesmoke;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
@media (min-width: 600px) {
	.card_2 {
	height: 350px;
	}
}
.card_2:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: 0 0;
	transition: transform calc(var(--d) * 1.5) var(--e);
	pointer-events: none;
}
.card_2:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
	transform: translateX(-50%);
	transition: transform calc(var(--d) * 2) var(--e);
}
.card_2:nth-child(1):before {
	background-image: url(img/Vino.jpg);
}
.card_2:nth-child(2):before {
	background-image: url(img/Fondo.jpg);
}
.card_2:nth-child(3):before {
	background-image: url(img/hover-me-04.png);
}
.card_2:nth-child(4):before {
	background-image: url(img/walk-02.png);
	top: -18px !important;}
	.content_2 {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 1rem;
	transition: transform var(--d) var(--e);
	z-index: 1;}
  .content_2 > * + * {
	margin-top: 1rem;}.title {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.copy {
	font-family: var(--font-serif);
	font-size: 16px;
	line-height: 1.2;
}

.btn {
	cursor: pointer;
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: var(--azul_oscuro);
	border: none;
	
	transition: .3s ease-in-out !important;
}
.btn:hover {
	background-color: var(--verde);
	color: var(--azul_oscuro);
}

@media (hover: hover) and (min-width: 600px) {
	.card_2:after {
		transform: translateY(0);
	}

	.content_2 {
		transform: translateY(calc(100% - 4.5rem));
	}
	.content_2 > *:not(.title) {
		opacity: 0;
		transform: translateY(1rem);
		transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}

	.card_2:hover,
	.card_2:focus-within {
		align-items: center;
	}
	.card_2:hover:before,
	.card_2:focus-within:before {
		transform: translateY(-4%);
	}
	.card_2:hover:after,
.card_2:focus-within:after {
	transform: translateY(-50%);
	}
	.card_2:hover .content_2,
.card_2:focus-within .content_2 {
	transform: translateY(0);
	}
	.card_2:hover .content_2 > *:not(.title),
  	.card_2:focus-within .content_2 > *:not(.title) {
		opacity: 1;
		transform: translateY(0);
		transition-delay: calc(var(--d) / 8);
	}

	.card_2:focus-within:before, .card_2:focus-within:after,
	.card_2:focus-within .content_2,
  	.card_2:focus-within .content_2 > *:not(.title) {
	transition-duration: 0s;
	}
}

/* Card Habilidades */

.title h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 80%;
	margin: 80px auto 0;
}

.card_habilidades {
	float: left;
	width: 100%;
}

.card_habilidades .wrapper, .wrapper2, .wrapper3  {
	background-color: #fff;
	min-height: 540px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card_habilidades .wrapper:hover .data {
	transform: translateY(0);
}
.card_habilidades .wrapper2:hover .data {
	transform: translateY(0);
}
.card_habilidades .wrapper3:hover .data {
	transform: translateY(0);
}
.card_habilidades .data {
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: translateY(calc(70px + 1em));
	transition: transform 1s;
}
.card_habilidades .data .content_habilidades {
	padding: 1em;
	position: relative;
	z-index: 1;
}
.card .author {
	font-size: 12px;
}
.card_habilidades .title {
	margin-top: 10px;
}
.card_habilidades .text {
	height: 70px;
	margin: 0;
	padding-bottom: 15px !important;
}
.card_habilidades input[type=checkbox] {
	display: none;
}
.card_habilidades input[type=checkbox]:checked + .menu-content {
	transform: translateY(-60px);
}

.example-2 .wrapper {
	background: url(https://images.unsplash.com/photo-1568631982471-166f46dfaae7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80) center/cover no-repeat;
	border-radius: 20px;
}
.example-2 .wrapper2 {
	background: url(https://images.unsplash.com/photo-1579389083395-4507e98b5e67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80) center/cover no-repeat;
	border-radius: 20px;
}
.example-2 .wrapper3 {
	background: url(https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80) center/cover no-repeat;
	border-radius: 20px;
}
.example-2 .header {
	color: #fff;
	padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
	content: "";
	display: table;
}
.example-2 .header::after {
	clear: both;
}
.example-2 .header .date {
	float: left;
	font-size: 12px;
}
.example-2 .data {
	color: #fff;
	transform: translateY(calc(70px + 4em));
}
.example-2 .title a {
	color: #fff;
}
.example-2 .button {
	display: block;
	width: 100px;
	margin: 2em auto 1em;
	text-align: center;
	font-size: 12px;
	color: #fff;
	line-height: 1;
	position: relative;
	font-weight: 700;
}
.example-2 .button::after {
	content: "→";
	opacity: 0;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	transition: all .5s;
}
.example-2 .button:hover::after {
	transform: translate(5px, -50%);
	opacity: 1;
}